@import "tailwindcss";
@import "@theanalog/orphos/theme.css";
@source "../../orphos/dist";

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    font-synthesis-weight: none;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
  }

  body {
    @apply min-w-[320px] overscroll-none;
  }
}
