@import "tailwindcss";
@plugin "tailwindcss-animate";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-alpha.css";

/* Dark */
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-dark-alpha.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/amber-dark-alpha.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/green-dark-alpha.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue-dark-alpha.css";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    /* Base font size */
    font-size: 16px;
    /* Base border radius */
    --radius: 6px;
  }

  :root,
  .light,
  .light-theme {
    --gray-1: #fafafa;
    --gray-2: #f6f6f6;
    --gray-3: #eee;
    --gray-4: #e5e5e5;
    --gray-5: #dedede;
    --gray-6: #d6d6d6;
    --gray-7: #cbcbcb;
    --gray-8: #b8b8b8;
    --gray-9: #898989;
    --gray-10: #7f7f7f;
    --gray-11: #616161;
    --gray-12: #1f1f1f;

    --gray-a1: #00000003;
    --gray-a2: #00000007;
    --gray-a3: #0000000f;
    --gray-a4: #00000018;
    --gray-a5: #0000001f;
    --gray-a6: #00000027;
    --gray-a7: #00000032;
    --gray-a8: #00000046;
    --gray-a9: #00000075;
    --gray-a10: #0000007f;
    --gray-a11: #0000009d;
    --gray-a12: #000000e0;

    --orange-1: #fdfaf9;
    --orange-2: #fef5f2;
    --orange-3: #ffe7e1;
    --orange-4: #ffd5c7;
    --orange-5: #ffc5b4;
    --orange-6: #ffb4a0;
    --orange-7: #ff9f89;
    --orange-8: #f78268;
    --orange-9: #ff3b00;
    --orange-10: #f12500;
    --orange-11: #de0000;
    --orange-12: #612316;

    --orange-a1: #fe653205;
    --orange-a2: #ffeee880;
    --orange-a3: #ffe7e1;
    --orange-a4: #ffd5c7;
    --orange-a5: #ffc5b4;
    --orange-a6: #ffb4a0;
    --orange-a7: #ff9f89;
    --orange-a8: #f32e0297;
    --orange-a9: #ff3b00;
    --orange-a10: #f12500;
    --orange-a11: #de0000;
    --orange-a12: #520e00e9;
  }

  .dark,
  .dark-theme {
    --gray-1: #111;
    --gray-2: #191919;
    --gray-3: #222;
    --gray-4: #2a2a2a;
    --gray-5: #313131;
    --gray-6: #3a3a3a;
    --gray-7: #484848;
    --gray-8: #606060;
    --gray-9: #6e6e6e;
    --gray-10: #7b7b7b;
    --gray-11: #b4b4b4;
    --gray-12: #eee;

    --gray-a1: #00000000;
    --gray-a2: #ffffff09;
    --gray-a3: #ffffff12;
    --gray-a4: #ffffff1b;
    --gray-a5: #ffffff22;
    --gray-a6: #ffffff2c;
    --gray-a7: #ffffff3b;
    --gray-a8: #ffffff55;
    --gray-a9: #ffffff64;
    --gray-a10: #ffffff72;
    --gray-a11: #ffffffaf;
    --gray-a12: #ffffffed;

    --orange-1: #170f0d;
    --orange-2: #201411;
    --orange-3: #3c140b;
    --orange-4: #540c00;
    --orange-5: #651201;
    --orange-6: #75210e;
    --orange-7: #8e321e;
    --orange-8: #b84128;
    --orange-9: #ff3b00;
    --orange-10: #f02800;
    --orange-11: #ff9277;
    --orange-12: #ffd1c5;

    --orange-a1: #ec000007;
    --orange-a2: #f23e1111;
    --orange-a3: #fb22002f;
    --orange-a4: #ff000048;
    --orange-a5: #ff14005a;
    --orange-a6: #fd370a6c;
    --orange-a7: #ff502a86;
    --orange-a8: #ff5632b3;
    --orange-a9: #ff3b00;
    --orange-a10: #ff2a00ef;
    --orange-a11: #ff9277;
    --orange-a12: #ffd1c5;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root,
      .light,
      .light-theme {
        --gray-1: oklch(98.6% 0 none);
        --gray-2: oklch(97.4% 0 none);
        --gray-3: oklch(94.8% 0 none);
        --gray-4: oklch(92.3% 0 none);
        --gray-5: oklch(90.1% 0 none);
        --gray-6: oklch(87.6% 0 none);
        --gray-7: oklch(84.2% 0 none);
        --gray-8: oklch(78.3% 0 none);
        --gray-9: oklch(63% 0 none);
        --gray-10: oklch(59.5% 0 none);
        --gray-11: oklch(49.1% 0 none);
        --gray-12: oklch(24% 0 none);

        --gray-a1: color(display-p3 0 0 0 / 0.0119);
        --gray-a2: color(display-p3 0 0 0 / 0.0277);
        --gray-a3: color(display-p3 0 0 0 / 0.0593);
        --gray-a4: color(display-p3 0 0 0 / 0.0949);
        --gray-a5: color(display-p3 0 0 0 / 0.1225);
        --gray-a6: color(display-p3 0 0 0 / 0.1542);
        --gray-a7: color(display-p3 0 0 0 / 0.1976);
        --gray-a8: color(display-p3 0 0 0 / 0.2727);
        --gray-a9: color(display-p3 0 0 0 / 0.4585);
        --gray-a10: color(display-p3 0 0 0 / 0.498);
        --gray-a11: color(display-p3 0 0 0 / 0.6166);
        --gray-a12: color(display-p3 0 0 0 / 0.8775);

        --orange-1: oklch(98.7% 0.0036 33.73);
        --orange-2: oklch(97.6% 0.0108 33.73);
        --orange-3: oklch(94.8% 0.0295 33.73);
        --orange-4: oklch(91.6% 0.0652 33.73);
        --orange-5: oklch(88.3% 0.0875 33.73);
        --orange-6: oklch(84.5% 0.1025 33.73);
        --orange-7: oklch(79.4% 0.1193 33.73);
        --orange-8: oklch(73.3% 0.1479 33.73);
        --orange-9: oklch(65.2% 0.2361 33.73);
        --orange-10: oklch(61.2% 0.2388 33.73);
        --orange-11: oklch(56.4% 0.2361 33.73);
        --orange-12: oklch(34.7% 0.0941 33.73);

        --orange-a1: color(display-p3 0.749 0.2588 0.0157 / 0.016);
        --orange-a2: color(display-p3 0.9059 0.2824 0.0157 / 0.044);
        --orange-a3: color(display-p3 0.9216 0.2235 0.0039 / 0.107);
        --orange-a4: color(display-p3 0.898 0.2706 0.0039 / 0.206);
        --orange-a5: color(display-p3 0.8941 0.2314 0.0039 / 0.277);
        --orange-a6: color(display-p3 0.8941 0.2157 0.0039 / 0.352);
        --orange-a7: color(display-p3 0.8941 0.1882 0.0039 / 0.439);
        --orange-a8: color(display-p3 0.8471 0.1765 0 / 0.562);
        --orange-a9: color(display-p3 0.9098 0.1804 0 / 0.846);
        --orange-a10: color(display-p3 0.8471 0.1216 0 / 0.866);
        --orange-a11: color(display-p3 0.7765 0.0627 0 / 0.886);
        --orange-a12: color(display-p3 0.2784 0.0588 0 / 0.898);
      }

      .dark,
      .dark-theme {
        --gray-1: oklch(17.8% 0 none);
        --gray-2: oklch(21.3% 0 none);
        --gray-3: oklch(25.4% 0 none);
        --gray-4: oklch(28.3% 0 none);
        --gray-5: oklch(31.3% 0 none);
        --gray-6: oklch(34.9% 0 none);
        --gray-7: oklch(40.2% 0 none);
        --gray-8: oklch(48.8% 0 none);
        --gray-9: oklch(53.8% 0 none);
        --gray-10: oklch(58.5% 0 none);
        --gray-11: oklch(77% 0 none);
        --gray-12: oklch(94.9% 0 none);

        --gray-a1: color(display-p3 0 0 0 / 0);
        --gray-a2: color(display-p3 1 1 1 / 0.0336);
        --gray-a3: color(display-p3 1 1 1 / 0.0714);
        --gray-a4: color(display-p3 1 1 1 / 0.105);
        --gray-a5: color(display-p3 1 1 1 / 0.1345);
        --gray-a6: color(display-p3 1 1 1 / 0.1723);
        --gray-a7: color(display-p3 1 1 1 / 0.2311);
        --gray-a8: color(display-p3 1 1 1 / 0.3319);
        --gray-a9: color(display-p3 1 1 1 / 0.3908);
        --gray-a10: color(display-p3 1 1 1 / 0.4454);
        --gray-a11: color(display-p3 1 1 1 / 0.6849);
        --gray-a12: color(display-p3 1 1 1 / 0.9286);

        --orange-1: oklch(17.8% 0.0143 33.73);
        --orange-2: oklch(20.6% 0.0204 33.73);
        --orange-3: oklch(25.3% 0.0662 33.73);
        --orange-4: oklch(29.1% 0.1061 33.73);
        --orange-5: oklch(33.1% 0.1183 33.73);
        --orange-6: oklch(38% 0.1212 33.73);
        --orange-7: oklch(44.7% 0.1301 33.73);
        --orange-8: oklch(53.8% 0.1585 33.73);
        --orange-9: oklch(65.2% 0.2361 33.73);
        --orange-10: oklch(61.2% 0.2361 33.73);
        --orange-11: oklch(78.4% 0.1993 33.73);
        --orange-12: oklch(89.9% 0.0568 33.73);

        --orange-a1: color(display-p3 0.9608 0 0 / 0.022);
        --orange-a2: color(display-p3 0.9961 0.2824 0.1412 / 0.055);
        --orange-a3: color(display-p3 1 0.1922 0 / 0.16);
        --orange-a4: color(display-p3 0.9961 0.098 0 / 0.253);
        --orange-a5: color(display-p3 0.9961 0.1765 0 / 0.316);
        --orange-a6: color(display-p3 1 0.2941 0.1216 / 0.383);
        --orange-a7: color(display-p3 1 0.3882 0.2314 / 0.479);
        --orange-a8: color(display-p3 1 0.4078 0.2706 / 0.643);
        --orange-a9: color(display-p3 1 0.3294 0.1647 / 0.916);
        --orange-a10: color(display-p3 1 0.2784 0.149 / 0.858);
        --orange-a11: color(display-p3 1 0.6275 0.5176 / 0.937);
        --orange-a12: color(display-p3 1 0.851 0.8039 / 0.971);
      }
    }
  }
}

/* Theme */
@theme {
  --breakpoint-xs: 450px;

  /* Fonts */
  --font-sans: InterVariable, Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: IBM Plex Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;

  /* Colors  */

  --color-focus-ring: var(--blue-8);

  --color-background: var(--gray-1);
  --color-background-subtle: var(--gray-2);
  --color-background-element: var(--gray-3);
  --color-background-element-hover: var(--gray-4);
  --color-background-element-active: var(--gray-5);
  --color-border: var(--gray-a6);
  --color-border-element: var(--gray-a7);
  --color-border-element-active: var(--gray-a8);
  --color-solid: var(--gray-9);
  --color-solid-hover: var(--gray-10);
  --color-foreground-subtle: var(--gray-11);
  --color-foreground: var(--gray-12);

  --color-primary: var(--orange-9);
  --color-primary-hover: var(--orange-10);
  --color-primary-element: var(--orange-a3);
  --color-primary-element-foreground: var(--orange-a11);
  --color-primary-border: var(--orange-a7);
  --color-primary-foreground: oklch(100.00% 0.0 none);

  --color-danger: var(--red-9);
  --color-danger-hover: var(--red-10);
  --color-danger-element: var(--red-a3);
  --color-danger-element-foreground: var(--red-a11);
  --color-danger-border: var(--red-a7);
  --color-danger-foreground: oklch(100.00% 0.0 none);

  --color-warning: var(--amber-9);
  --color-warning-hover: var(--amber-10);
  --color-warning-element: var(--amber-a3);
  --color-warning-element-foreground: var(--amber-a11);
  --color-warning-border: var(--amber-a7);
  --color-warning-foreground: var(--amber-12);

  --color-success: var(--green-9);
  --color-success-hover: var(--green-10);
  --color-success-element: var(--green-a3);
  --color-success-element-foreground: var(--green-a11);
  --color-success-border: var(--green-a7);
  --color-success-foreground: oklch(100.00% 0.0 none);

  --color-info: var(--blue-9);
  --color-info-hover: var(--blue-10);
  --color-info-element: var(--blue-a3);
  --color-info-element-foreground: var(--blue-a11);
  --color-info-border: var(--blue-a7);
  --color-info-foreground: oklch(100.00% 0.0 none);

  /* Typography */
  --text-4xl: 2.25rem; /* 36px */
  --text-3xl: 1.875rem; /* 30px */
  --text-2xl: 1.5rem; /* 24px */
  --text-xl: 1.25rem; /* 20px */
  --text-lg: 1.125rem; /* 18px */
  --text-base: 1rem; /* 16px */
  --text-sm: 0.875rem; /* 14px */
  --text-xs: 0.75rem; /* 12px */

  /* Border radius */
  --radius-2xl: calc(var(--radius) + 6px);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-md: var(--radius);
  --radius-sm: calc(var(--radius) - 2px);

  /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  @media (width >= theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--gray-6, currentColor);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--gray-a11);
  }

  * {
    @apply min-w-0!;
  }

  body {
    @apply scroll-smooth min-w-[320px] text-base text-foreground font-sans antialiased;
    letter-spacing: -0.03rem;
    font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
  }
}
