@import "tw-animate-css";

/* LIGHT MODE * /

/* Accent */
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/tomato-alpha.css";

/* Neutral */
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";

/* Semantic */
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-alpha.css";

/* DARK MODE */

/* Accent */
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/tomato-dark-alpha.css";

/* Neutral */
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";

/* Semantic */
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-dark-alpha.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/green-dark-alpha.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/amber-dark-alpha.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue-dark-alpha.css";

:root {
  /* Base border radius */
  --radius: 6px;
  /* code before-after content marker */
  --code-marker: "`";

  --color-white: #fff;
  --color-black: #000;
}

@custom-variant dark (&:where(.dark, .dark *));

/* Theme */
@theme {
  --breakpoint-xs: 450px;

  /* Fonts */
  --font-sans:
    InterVariable, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  /* Colors  */

  --color-focus-ring: var(--blue-a8);

  --color-background: var(--gray-1);
  --color-background-subtle: var(--gray-2);
  --color-background-element: var(--gray-a3);
  --color-background-element-hover: var(--gray-a4);
  --color-background-element-active: var(--gray-a5);
  --color-border-subtle: var(--gray-a6);
  --color-border-element: var(--gray-a7);
  --color-border-element-hover: var(--gray-a8);
  --color-solid: var(--gray-9);
  --color-solid-hover: var(--gray-10);
  --color-foreground-subtle: var(--gray-a11);
  --color-foreground: var(--gray-12);

  --color-primary: var(--tomato-9);
  --color-primary-hover: var(--tomato-10);
  --color-primary-border: var(--tomato-a6);
  --color-primary-foreground: var(--color-white);
  --color-primary-subtle: var(--tomato-a2);
  --color-primary-surface: var(--tomato-a3);
  --color-primary-surface-foreground: var(--tomato-a11);

  --color-danger: var(--red-9);
  --color-danger-hover: var(--red-10);
  --color-danger-border: var(--red-a6);
  --color-danger-foreground: var(--color-white);
  --color-danger-subtle: var(--red-a2);
  --color-danger-surface: var(--red-a3);
  --color-danger-surface-foreground: var(--red-a11);

  --color-warning: var(--amber-9);
  --color-warning-hover: var(--amber-10);
  --color-warning-border: var(--amber-a6);
  --color-warning-foreground: var(--color-black);
  --color-warning-subtle: var(--amber-a2);
  --color-warning-surface: var(--amber-a3);
  --color-warning-surface-foreground: var(--amber-a11);

  --color-success: var(--green-9);
  --color-success-hover: var(--green-10);
  --color-success-border: var(--green-a6);
  --color-success-foreground: var(--color-white);
  --color-success-subtle: var(--green-a2);
  --color-success-surface: var(--green-a3);
  --color-success-surface-foreground: var(--green-a11);

  --color-info: var(--blue-9);
  --color-info-hover: var(--blue-10);
  --color-info-border: var(--blue-a6);
  --color-info-foreground: var(--color-white);
  --color-info-subtle: var(--blue-a2);
  --color-info-surface: var(--blue-a3);
  --color-info-surface-foreground: var(--blue-a11);

  /* Typography */
  --text-5xl: 2.5rem; /* 40px */
  --text-4xl: 2rem; /* 32px */
  --text-3xl: 1.5rem; /* 24px */
  --text-2xl: 1.25rem; /* 20px */
  --text-xl: 1.125rem; /* 18px */
  --text-lg: 1rem; /* 16px */
  --text-base: 0.875rem; /* 14px */
  --text-sm: 0.75rem; /* 12px */

  /* Border radius */
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-md: var(--radius);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-xs: calc(var(--radius) - 4px);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  @media (width >= theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--gray-6, currentColor);
  }

  ::selection {
    color: var(--color-primary-foreground);
    background-color: var(--color-primary);
  }

  textarea::-webkit-resizer {
    display: none;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--gray-11);
  }

  body {
    @apply scroll-smooth min-w-[320px] text-lg font-sans antialiased;
    letter-spacing: -0.03rem;
    font-feature-settings:
      "liga" 1,
      "calt" 1; /* fix for Chrome */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
  }
}
