@import "tw-animate-css";
@import "./colors.css";

:root {
  /* Base border radius */
  --radius: 6px;

  --color-white: #fff;
  --color-black: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Theme */
@theme {
  --breakpoint-xs: 450px;

  /* Fonts */
  --font-sans:
    "Inter Variable", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans",
    "Helvetica Neue", sans-serif;
  --font-mono: "Geist Mono", ui-monospace, "SF Mono", "Menlo", monospace;

  /* Colors  */

  --color-focus-ring: var(--blue-8);

  --color-background: var(--gray-1);
  --color-background-subtle: var(--gray-2);
  --color-background-element: var(--gray-3);
  --color-background-element-hover: var(--gray-4);
  --color-background-element-active: var(--gray-5);
  --color-border-subtle: var(--gray-6);
  --color-border-element: var(--gray-7);
  --color-border-element-hover: var(--gray-8);
  --color-solid: var(--gray-9);
  --color-solid-hover: var(--gray-10);
  --color-foreground-subtle: var(--gray-11);
  --color-foreground: var(--gray-12);

  --color-primary: var(--tomato-9);
  --color-primary-hover: var(--tomato-10);
  --color-primary-border: var(--tomato-6);
  --color-primary-foreground: var(--color-white);
  --color-primary-subtle: var(--tomato-2);
  --color-primary-surface: var(--tomato-3);
  --color-primary-surface-foreground: var(--tomato-11);

  --color-danger: var(--red-9);
  --color-danger-hover: var(--red-10);
  --color-danger-border: var(--red-6);
  --color-danger-foreground: var(--color-white);
  --color-danger-subtle: var(--red-2);
  --color-danger-surface: var(--red-3);
  --color-danger-surface-foreground: var(--red-11);

  --color-warning: var(--yellow-9);
  --color-warning-hover: var(--yellow-10);
  --color-warning-border: var(--yellow-6);
  --color-warning-foreground: var(--color-black);
  --color-warning-subtle: var(--yellow-2);
  --color-warning-surface: var(--yellow-3);
  --color-warning-surface-foreground: var(--yellow-11);

  --color-success: var(--green-9);
  --color-success-hover: var(--green-10);
  --color-success-border: var(--green-6);
  --color-success-foreground: var(--color-white);
  --color-success-subtle: var(--green-2);
  --color-success-surface: var(--green-3);
  --color-success-surface-foreground: var(--green-11);

  --color-info: var(--blue-9);
  --color-info-hover: var(--blue-10);
  --color-info-border: var(--blue-6);
  --color-info-foreground: var(--color-white);
  --color-info-subtle: var(--blue-2);
  --color-info-surface: var(--blue-3);
  --color-info-surface-foreground: var(--blue-11);

  /* Border radius */
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-md: var(--radius);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-xs: calc(var(--radius) - 4px);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  @media (width >= theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  * {
    @apply border-border-subtle outline-focus-ring;
  }

  ::selection {
    color: var(--color-primary-foreground);
    background-color: var(--color-primary);
  }

  textarea::-webkit-resizer {
    display: none;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--gray-10);
  }

  body {
    @apply scroll-smooth min-w-[320px] text-base font-sans;
    letter-spacing: -0.03rem;
    font-feature-settings:
      "liga" 1,
      "calt" 1; /* fix for Chrome */
  }
}
