@import "./colors.css";
@import "tw-animate-css";

:root {
  /* Base font size */
  font-size: 16px;
  /* Base border radius */
  --radius: 6px;
  /* code before-after content marker */
  --code-marker: "`";
}

@custom-variant dark (&:is(.dark *));

/* Theme */
@theme {
  --breakpoint-xs: 450px;

  /* Fonts */
  --font-sans: InterVariable, Inter, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: IBM Plex Mono, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;

  /* Colors  */

  --color-focus-ring: var(--blue-a8);

  --color-background: var(--gray-1);
  --color-background-subtle: var(--gray-2);
  --color-background-element: var(--gray-3);
  --color-background-element-hover: var(--gray-4);
  --color-background-element-active: var(--gray-5);
  --color-border-subtle: var(--gray-6);
  --color-border-element: var(--gray-7);
  --color-border-element-hover: var(--gray-8);
  --color-solid: var(--gray-9);
  --color-foreground-subtle: var(--gray-11);
  --color-foreground: var(--gray-12);

  --color-primary: var(--accent-9);
  --color-primary-hover: var(--accent-10);
  --color-primary-border: var(--accent-8);
  --color-primary-foreground: var(--accent-contrast);
  --color-primary-surface: var(--accent-surface);
  --color-primary-surface-foreground: var(--accent-10);

  --color-danger: var(--red-9);
  --color-danger-hover: var(--red-10);
  --color-danger-border: var(--red-a8);
  --color-danger-foreground: var(--red-contrast);
  --color-danger-surface: var(--red-surface);
  --color-danger-surface-foreground: var(--red-10);

  --color-warning: var(--yellow-9);
  --color-warning-hover: var(--yellow-10);
  --color-warning-border: var(--yellow-a8);
  --color-warning-foreground: var(--yellow-contrast);
  --color-warning-surface: var(--yellow-surface);
  --color-warning-surface-foreground: var(--yellow-10);

  --color-success: var(--green-9);
  --color-success-hover: var(--green-10);
  --color-success-border: var(--green-a8);
  --color-success-foreground: var(--green-contrast);
  --color-success-surface: var(--green-surface);
  --color-success-surface-foreground: var(--green-10);

  --color-info: var(--blue-9);
  --color-info-hover: var(--blue-10);
  --color-info-border: var(--blue-a8);
  --color-info-foreground: var(--blue-surface);
  --color-info-surface: var(--blue-surface);
  --color-info-surface-foreground: var(--blue-10);

  --color-upsell: var(--violet-9);
  --color-upsell-hover: var(--violet-10);
  --color-upsell-border: var(--violet-a8);
  --color-upsell-foreground: var(--violet-contrast);
  --color-upsell-surface: var(--violet-surface);
  --color-upsell-surface-foreground: var(--violet-10);

  /* Typography */
  --text-4xl: 2.25rem; /* 36px */
  --text-3xl: 1.875rem; /* 30px */
  --text-2xl: 1.5rem; /* 24px */
  --text-xl: 1.25rem; /* 20px */
  --text-lg: 1.125rem; /* 18px */
  --text-base: 1rem; /* 16px */
  --text-sm: 0.875rem; /* 14px */
  --text-xs: 0.75rem; /* 12px */

  /* Border radius */
  --radius-2xl: calc(var(--radius) + 6px);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-md: var(--radius);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-xs: cal(var(--radius) - 4px);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  @media (width >= theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--gray-6, currentColor);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--gray-a11);
  }

  body {
    @apply scroll-smooth min-w-[320px] text-base font-sans antialiased;
    letter-spacing: -0.03rem;
    font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
  }
}
